<h1>Jokes Overflow Homepage</h1>


<%=link_to "Jokes Home", :jokes%>
<%=link_to "New Joke", :new_joke %>

<ol>
  <% @jokes.each do |joke| %>
    <li><%= link_to joke.title, joke_path(joke) %>
      <%=form_for @vote, :url => votes_path(:id => joke.id, :up => true) do |f| %>
        <%= f.submit "Up" %>
      <%end%>
      <%= joke.votes.length %>
      <%=form_for @vote, :url => votes_path(:id => joke.id, :up => false) do |f| %>
        <%= f.submit "Down" %>
      <%end%>
    </li>
  <%end%>
</ol>

