<%=link_to "Jokes Home", :jokes%>
<%=link_to "New Joke", :new_joke %>

<h1>Create New Joke:</h1>
<%=form_for @joke do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

