<header>
  <%= link_to "Jokes Home", jokes_path %>
  <%= link_to "New Joke", new_joke_path %>
</header>

<div class = "center_voting_machine">
  <li><%= render 'votes/voting_machine', vote: @vote, joke: @joke %></li>
</div>

<h1 class="joke_title"><%="#{@joke.title}" %></h1>
<%="#{@joke.updated_at}"%>

<%= link_to "Reply", new_joke_reply_path(@joke), class: 'create_reply', :remote => true %>

<div class= "all_replies">
<%= render 'partials/all_replies', all_replies: @all_replies %>
</div>
